<div class="section-about-us">
  <div class="content">
    <div class="content-body">
      <div class="section-template">
        <div class="section-image-body">
          <div class="black-background">
            <div class="img"></div>
            <ul class="position-under-image">
              <li class="stats bold">Marks Korņilovs</li>
            </ul>
            <ul class="position-under-image">
              <li class="stats thin">Bench 100kg</li>
              <li class="stats thin">Squat 130kg</li>
              <li class="stats thin">Deadlift 160kg</li>
            </ul>
          </div>
          <div class="section-text-body">
            <div class="heading-body">
              <div class="heading-text">
                <img
                  src="../assets/images/heading-line.png"
                  class="heading-text-line"
                />
                <div class="heading-text">
                  <h1>{{ "titleaboutme" | translate }}</h1>
                </div>
                <img
                  src="../assets/images/heading-line.png"
                  class="heading-text-line"
                />
              </div>
            </div>
            <div class="main-body">
              <div class="main-text">
                <p>
                  {{ "textaboutme" | translate }}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
