<div class="content">
  <div class="content-body">
    <div class="section-template">
      <div class="section-image-body">
        <div class="img"></div>
      </div>
      <div class="section-text-body">
        <div class="heading-body">
          <div class="heading-text">
            <img
              src="../assets/images/heading-line.png"
              class="heading-text-line"
            />
            <div class="heading-text">
              <h1>TITLE</h1>
            </div>
            <img
              src="../assets/images/heading-line.png"
              class="heading-text-line"
            />
          </div>
        </div>
        <div class="main-body">
          <div class="main-text">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing. Aenean laoreet
              neque erat, euismod dictum justo gravida sed. Etiam libero orci,
              vestibulum sit amet ornare at, fermentum a tellus. Vestibulum a
              feugiat turpis. Nam bibendum justo malesuada iaculis aliquam.
              Curabitur id molestie velit, eget condimentum arcu. Suspendisse in
              ornare dolor, sed lobortis nulla. Duis elit leo, maximus rhoncus
              auctor eu, pellentesque quis lacus. Proin nunc neque, tristique
              sit amet est fermentum, vehicula congue orci. Suspendisse potenti.
              Phasellus tincidunt nisl sed ullamcorper viverra. Aliquam ut augue
              laoreet, luctus ante ut, luctus urna. Duis nibh felis, convallis
              sed diam quis, ullamcorper luctus felis.Maecenas tincidunt dui ac
              arcu porttitor laoreet. Suspendisse quis neque nec justo egestas
              mattis in ut nisi. Vivamus non massa auctor, rutrum purus
              venenatis, varius ligula. Nunc arcu mauris, euismod vitae odio id,
              consectetur hendrerit felis. Aenean vestibulum vitae sapien et
              fringilla. Praesent quis arcu erat. Proin posuere sed erat.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
