<div id="section1" class="landing-page">
  <div class="ladning-page-body">
    <div class="section-image-body">
      <div class="img1 img-home"></div>
    </div>
    <div class="landing-page-text-body">
      <div class="landing-page-heading semiBold">
        {{ "title1" | translate }}
      </div>
      <div class="landing-page-text extraBold">{{ "title2" | translate }}</div>
    </div>
  </div>
</div>
<div id="section2" class="content">
  <div class="content-body">
    <div class="section-template">
      <div class="section-image-body">
        <div class="img1 img-2008"></div>
      </div>
      <div class="section-text-body">
        <div class="heading-body">
          <div class="heading-text">
            <img
              src="../assets/images/heading-line.png"
              class="heading-text-line"
            />
            <div class="heading-text">
              <h1>{{ "2008" | translate }}</h1>
            </div>
            <img
              src="../assets/images/heading-line.png"
              class="heading-text-line"
            />
          </div>
        </div>
        <div class="main-body">
          <div class="main-text">
            <p>
              {{ "text1" | translate }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="section3" class="content">
  <div class="content-body">
    <div class="section-template">
      <div class="section-text-body">
        <div class="heading-body">
          <div class="heading-text">
            <img
              src="../assets/images/heading-line.png"
              class="heading-text-line"
            />
            <div class="heading-text">
              <h1>{{ "2012" | translate }}</h1>
            </div>
            <img
              src="../assets/images/heading-line.png"
              class="heading-text-line"
            />
          </div>
        </div>
        <div class="main-body">
          <div class="main-text">
            <p>
              {{ "text2" | translate }}
            </p>
          </div>
        </div>
      </div>
      <div class="section-image-body">
        <div class="img1 img-2012"></div>
      </div>
    </div>
  </div>
</div>
<div id="section4" class="section-third-body">
  <div class="img1 background">
    <div class="section-text-body white">
      <div class="heading-body">
        <div class="heading-text center">
          <img
            src="../assets/images/heading-line.png"
            class="heading-text-line"
          />
          <div class="heading-text">
            <h1>{{ "2014" | translate }}</h1>
          </div>
          <img
            src="../assets/images/heading-line.png"
            class="heading-text-line"
          />
        </div>
      </div>
      <div class="main-body">
        <div class="main-text">
          <p class="center-p">
            {{ "text3" | translate }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="section5" class="content">
  <div class="content-body">
    <div class="section-template">
      <div class="section-text-body">
        <div class="heading-body">
          <div class="heading-text">
            <img
              src="../assets/images/heading-line.png"
              class="heading-text-line"
            />
            <div class="heading-text">
              <h1>{{ "2015" | translate }}</h1>
            </div>
            <img
              src="../assets/images/heading-line.png"
              class="heading-text-line"
            />
          </div>
        </div>
        <div class="main-body">
          <div class="main-text">
            <p>
              {{ "text4" | translate }}
            </p>
          </div>
        </div>
      </div>
      <div class="section-image-body">
        <div class="img1 img-2015"></div>
      </div>
    </div>
  </div>
</div>
<div id="section6" class="content">
  <div class="content-body">
    <div class="section-template">
      <div class="section-image-body">
        <div class="img1 img-2017"></div>
      </div>
      <div class="section-text-body">
        <div class="heading-body">
          <div class="heading-text">
            <img
              src="../assets/images/heading-line.png"
              class="heading-text-line"
            />
            <div class="heading-text">
              <h1>{{ "2017" | translate }}</h1>
            </div>
            <img
              src="../assets/images/heading-line.png"
              class="heading-text-line"
            />
          </div>
        </div>
        <div class="main-body">
          <div class="main-text">
            <p>
              {{ "text5" | translate }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="section7" class="content">
  <div class="content-body">
    <div class="section-template">
      <div class="section-text-body">
        <div class="heading-body">
          <div class="heading-text">
            <img
              src="../assets/images/heading-line.png"
              class="heading-text-line"
            />
            <div class="heading-text">
              <h1>{{ "2020" | translate }}</h1>
            </div>
            <img
              src="../assets/images/heading-line.png"
              class="heading-text-line"
            />
          </div>
        </div>
        <div class="main-body">
          <div class="main-text">
            <p>
              {{ "text6" | translate }}
            </p>
          </div>
        </div>
      </div>
      <div class="section-image-body">
        <div class="img1 img-2020"></div>
      </div>
    </div>
  </div>
</div>
<div class="navigation-tab">
  <div class="navigation-tab-body">
    <div class="item-list">
      <div
        id="item1"
        (click)="scrollToSection('section1')"
        class="item-list-item white"
      >
        {{ "home" | translate }}
      </div>
      <div
        id="item2"
        (click)="scrollToSection('section2')"
        class="item-list-item white"
      >
        2008
      </div>
      <div
        id="item3"
        (click)="scrollToSection('section3')"
        class="item-list-item white"
      >
        2012
      </div>
      <div
        id="item4"
        (click)="scrollToSection('section4')"
        class="item-list-item white"
      >
        2014
      </div>
      <div
        id="item5"
        (click)="scrollToSection('section5')"
        class="item-list-item white"
      >
        2015
      </div>
      <div
        id="item6"
        (click)="scrollToSection('section6')"
        class="item-list-item white"
      >
        2017
      </div>
      <div
        id="item7"
        (click)="scrollToSection('section7')"
        class="item-list-item white"
      >
        2020
      </div>
    </div>
  </div>
</div>
